# Node.js specific
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Environment variables
.env

# Logs
logs/
*.log

# Ignore all CSV files inside csv_file folder
csv_file/*.csv
# Build output (if you add a build step later)
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Testing
coverage/